// Frontend Port
PORT=3001

// Express Server
SERVER_PORT= 8054
NGROK_URL=

// VONAGE Voice Application
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_NUMBER=
VONAGE_APPLICATION_ID=
VONAGE_APPLICATION_PRIVATE_KEY=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=us2
PUSHER_USE_TLS=true